.main2 {
    height: 800px;
}

.ul-dots {
    list-style-type: disc;
}

.grid-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media(max-width: 630px) {
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 21px;
    }
}